<h2>Event info</h2>
<hr>
<div class="row">
    <div class="col-12 card text-center mt-3 bg-light pt-3">
        <h2>{{event.title}}</h2>
        <hr>
        <p>{{event.description}}</p>
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <p>{{event.formattedDate}}, {{event.formattedTime}}</p>
                <p>{{event.address}}</p>
                <p>Attenders: {{event.attender.length}}</p>
                <div class="col-6">
                    <a href="{{event.icon}}"><img class='img-responsive w-25' src="{{event.icon}}" alt="event pic"></a>
                </div>
                <a href="/events/{{event._id}}/edit">Edit event</a>
            </div>
            {{#unless isJoined}}
            <a href=" /events/{{event._id}}/join-event" class="btn btn-dark favorite">Join event</a>
            {{/unless}}
            {{#if isJoined}}
            <a href="/events/{{event._id}}/unjoin-event" class="btn btn-dark favorite">Unjoin-event</a>
            {{/if}}
            <div class="col-6">
                <input type="hidden" id="lng" value="{{event.location.coordenates.[0]}}">

                <input type="hidden" id="lat" value="{{event.location.coordenates.[1]}}">

                <figure id="map"></figure>
            </div>
        </div>
        <a href="/events" class="btn btn-dark mt-3">Back to events</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/js/events-infomap.js"></script>
    <script src="/js/map-styles.js"></script>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9cparf9WJ2kLOCPmr_4e_NRdstbvHob0&libraries=places&callback=initMap">
        </script>