<h2>Event info</h2>
<hr>
<div class="row">
    <div class="col-12 card text-center mt-3 bg-light pt-3">
        <h2>{{event.title}}</h2>
        <hr>
        <p>{{event.description}}</p>
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <p>{{event.formattedDate}}, {{event.formattedTime}}</p>
                <p>{{event.address}}</p>
                <div class="col-6">
                    <a href="{{icon}}"><img class='img-responsive w-25' src="{{icon}}" alt="event pic"></a>
                </div>
                <a href="/events/{{event._id}}/edit">Edit event</a>
            </div>
            <a href=" /events/{{event._id}}/join-event" class="btn btn-dark favorite">Join event</a>
            <a href="/events/{{event._id}}/unjoin-event" class="btn btn-dark favorite">Unjoin-event</a>
        </div>
        <a href="/events" class="btn btn-dark mt-3">Back to events</a>
    </div>