<h2>Recipe Details</h2>
<hr>
<div class="row">
    <div class="col-12 card text-center mt-3 bg-light pt-3">
        <h2>{{recipe.title}}</h2>
        <hr>
        <p>{{recipe.description}}</p>
        <div class="row justify-content-center">
            <div class="col-6 text-start">
                <ul>
                    {{#each recipe.ingredients}}
                    <li>
                        <h6>{{ingrName}}:{{ingrQuantity}}{{ingrMeasureUnit}}</h6>
                    </li>
                    {{/each}}
                </ul>
                Nutriscore: {{recipe.nutriScore.ingrKcal}}g Kcal, {{recipe.nutriScore.ingrCarbs}}g Carbs,
                {{recipe.nutriScore.ingrFat}}g Fat,
                {{recipe.nutriScore.ingrProtein}}g Protein.
            </div>
            <div class="col-6 text-end">
                <a href="{{recipe.recipeImg}}"><img class='img-responsive w-25' src="{{recipe.recipeImg}}"
                        alt="recipe pic"></a>
            </div>
        </div>
        <div class="row justify-content-end text-end">
            <div class="col-3">
                {{#unless isVoted}}
                <form action="/recipes/{{recipe._id}}/score" method="POST">
                    <select class="form-select" aria-label="Default select example" name="score">
                        <option selected>Rate this recipe</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <button>submit vote</button>
                </form>
                {{/unless}}
                {{#if isVoted}}

                <h6>Rating:</h6>
                <div class="progress" style='width:100%; background-color:black ;text-align:right'>
                    <div id='ratingBar' value='uno' class="progress-bar" role="progressbar"
                        style='width: 25%; background-color:red'>
                        {{recipe.rating}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{#unless isFavorite}}
    <a href=" /recipes/{{recipe._id}}/add-favorite" class="btn btn-dark favorite">Add favorite</a>
    {{/unless}}
    {{#if isFavorite}}
    <a href="/recipes/{{recipe._id}}/delete-favorite" class="btn btn-dark favorite">Remove
        favorite</a>
    {{/if}}
    {{#if isOwner}}
    <a href="/recipes/{{recipe._id}}/edit" class="btn btn-dark">Edit</a>
    <a href="/recipes/{{recipe._id}}/delete" class="btn btn-danger">Delete</a>
    {{/if}}
    {{#each recipe.author}}
    <h6>Created by: {{username}}</h6>
    {{/each}}
</div>
</div>
</div>
<a href="/recipes" class="btn btn-dark mt-3">Back to recipes</a>
</div>
<script src="/js/rating.js"></script>