<div>
    <img id="background-recipes"
        src="https://res.cloudinary.com/dbtmrinwa/image/upload/f_auto,q_auto/mclwnysu101ogudwnvo0" alt="">
    <div class="row mt-4 text-center">
        {{#unless myRecipes}}
        {{#unless myFavoriteRecipes}}
        <h2 class="header">RECIPES</h2>
        {{/unless}}
        {{/unless}}
        {{#if myRecipes}}
        <h2 class="header">MY RECIPES</h2>
        {{/if}}
        {{#if myFavoriteRecipes}}
        <h2 class="header">MY FAVORITE RECIPES</h2>
        {{/if}}
    </div>


    <div class="row justify-content-center text-center">
        <div class="dropdown m-4">
            <button class=" dropdown-toggle button-62" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                Sort by
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/recipes?sort=ingrKcal">Kcal</a></li>
                <li><a class="dropdown-item" href="/recipes?sort=ingrCarbs">Carbs</a></li>
                <li><a class="dropdown-item" href="/recipes?sort=ingrFat">Fat</a></li>
                <li><a class="dropdown-item" href="/recipes?sort=ingrProtein">Protein</a></li>
            </ul>
        </div>

        {{#each recipes}}
        <div class="col-5 card text-center m-2 pt-3">
            <h2>{{title}}</h2>
            <hr>
            <p class="description">{{description}}</p>

            <div class="row justify-content-center">
                <div class="col-8 text-start ingredients">
                    <ul>
                        {{#each ingredients}}
                        <li>
                            <h6>{{ingrName}}:{{ingrQuantity}}{{ingrMeasureUnit}}</h6>
                        </li>
                        {{/each}}
                    </ul>


                </div>
                <div class="col-4 text-end mb-3">
                    <a href="{{recipeImg}}"><img class='img-responsive w-100 recipeImg' src="{{recipeImg}}"
                            alt="recipe pic"></a>
                </div>
            </div>
            <div class="row text-end justify-content-between">
                <div class="col-6">
                    <h6 class="nutriScore mb-2 ps-3">Nutriscore: {{nutriScore.ingrKcal}}g Kcal</h6>
                    <h6 class="nutriScore mt-2 mb-2 ps-3">
                        {{nutriScore.ingrCarbs}}g Carbs, {{nutriScore.ingrFat}}g
                        Fat,
                        {{nutriScore.ingrProtein}}g Protein.
                    </h6>
                </div>



                <div class="col-6">
                    <a href="/recipes/{{_id}}/details" class=" button-62">Details</a>
                    {{#each author}}
                    <h6 class="createdBy mt-2 mb-2">Created by: {{username}}</h6>
                    {{/each}}
                    {{#if myFavoriteRecipes}}
                    {{#if myRecipes}}
                    <h6 class="createdBy mt-2 mb-2">Created by: {{username}}</h6>
                    {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>